<div class="row">
  <div class="col-md-4" *ngFor="let city of cities">
    <div class="card mb-4 shadow-sm">
      <img src="https://picsum.photos/200/300" alt="">
      <title>{{city.name}}</title>

      <div class="card-body">
        <p class="card-text">{{city.description}}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" routerLink="/cityDetail/{{city.id}}"
              class="btn btn-sm btn-outline-secondary">İncele</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Düzenle</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>
</div>